{% load staticfiles %}
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<!DOCTYPE HTML>
<html>
	<head>
		<title>SMART-SPI: A data analysis model for SPI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="icon" href="{% static 'images/smart_spi.ico' %}" type="image/x-icon" />
	</head>
	
	<body>

		<!-- Header -->
			<header id="header">	
				<h1><strong><a href="/">SMART-SPI</a></strong> data analysis for SPI</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/milestones">Milestones</a></li>
						<li>
							{% if user.is_authenticated %}
								<p>{{ user.username }} <small>(<a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>)</small></p>
							{% else %}
								<p>Login <small>(<a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>)</small></p>
							{% endif %}
						</li>
					</ul>
				</nav>
				
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


		{% block content %}

		{% endblock %}

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/freddyiniguez" target="_blank" class="icon fa-github"></a></li>
						<li><a href="https://twitter.com/freddyiniguez" target="_blank" class="icon fa-twitter"></a></li>
						<li><a href="https://instagram.com/freddyiniguez" target="_blank" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; SMART-SPI, 2017</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			<script src="{% static 'js/jquery.min.js' %}"></script>

	</body>
</html>