{% extends 'tool/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>Estimates</h2>
				<p align="justify">Visualize insights for the {{ project.title }} project</p>
			</header>

			<!-- Visual data -->
				<section>
					<div class="row 150%">
						<div class="6u 12u$(xsmall)">
							<div class="image fit captioned">
								<img src="{% static 'images/visualizations/estimates.png' %}"/>
								<h3>Data visualization for Estimate</h3>
							</div>
						</div>
						<div class="6u$ 12u$(xsmall)">
							<div class="image fit captioned">
								<p>Mean: {{descriptive.mean}}</p>
								<p>Standard Deviation: {{descriptive.std}}</p>
								<p>Min: {{descriptive.min}}</p>
								<p>Max: {{descriptive.max}}</p>
								<h3>Descriptive analytics for Efforts</h3>
							</div>
						</div>
					</div>
				</section>
		</div>
	</section>
{% endblock %}