{% extends 'tool/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>{{ project.title }}</h2>
				<p align="justify">{{ project.description }}</p>
			</header>

			<!-- Table: Estimates -->
				<section>
					<h3>Estimates</h3>
					<p>Current estimates for this project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Requirement</th>
									<th>Description</th>
									<th>Complexity</th>
									<th>Role</th>
									<th>Required hours (AVG)</th>
								</tr>
							</thead>
							<tbody>
								{% for estimate in project.estimates.all %}
									<tr>
										<td>{{ estimate.requirement }}</td>
										<td>{{ estimate.description }}</td>
										<td>{{ estimate.complexity }}</td>
										<td>{{ estimate.role }}</td>
										<td>{{ estimate.required_hours }}</td>
									</tr>
								{% empty %}
									<tr>
										<td>There are no estimares yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'estimate_new' pk=project.pk %}" class="button special small" title="Add estimate to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add estimate</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="/" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>

				<br>
				<br>

			<!-- Table: Tasks -->
				<section>
					<h3>Tasks</h3>
					<p>Current tasks for this project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Task</th>
									<th>Phase/Workflow</th>
									<th>Type</th>
									<th>Complexity</th>
									<th>Percentage of completion</th>
									<th>Planned hours</th>
									<th>Real hours</th>
									<th>Planned cost</th>
									<th>Real cost</th>
									<th>Planned start date</th>
									<th>Planned end date</th>
									<th>Real start date</th>
									<th>Real end date</th>
									<th>Resources</th>
								</tr>
							</thead>
							<tbody>
								{% for task in project.tasks.all %}
									<tr>
										<td>{{ task.task }}</td>
										<td>{{ task.phase }}</td>
										<td>{{ task.type }}</td>
										<td>{{ task.task_complexity }}</td>
										<td>{{ task.percentage_of_completion }}%</td>
										<td>{{ task.planned_hours }}</td>
										<td>{{ task.real_hours }}</td>
										<td>${{ task.planned_cost }}</td>
										<td>${{ task.real_cost }}</td>
										<td>{{ task.planned_start_date }}</td>
										<td>{{ task.planned_end_date }}</td>
										<td>{{ task.real_start_date }}</td>
										<td>{{ task.real_end_date }}</td>
										<td>{{ task.resource }}</td>
									</tr>
								{% empty %}
									<tr>
										<td>There are no task yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'task_new' pk=project.pk %}" class="button special small" title="Add task to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add task</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="/" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>

			<!-- Table: Effort/Cost -->
		</div>
	</section>
{% endblock %}