{% extends 'tool/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>{{ project.title }}</h2>
				<p align="justify">{{ project.description }}</p>
			</header>

			
			<!-- Table: Estimates -->
				<section>
					<h3>Estimates</h3>
					<p>Current estimates for this project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Requirement</th>
									<th>Description</th>
									<th>Complexity</th>
									<th>Role</th>
									<th>Required hours (AVG)</th>
								</tr>
							</thead>
							<tbody>
								{% for estimate in project.estimates.all %}
									<tr>
										<td>{{ estimate.requirement }}</td>
										<td>{{ estimate.description }}</td>
										<td>{{ estimate.complexity }}</td>
										<td>{{ estimate.role }}</td>
										<td>{{ estimate.required_hours }}</td>
									</tr>
								{% empty %}
									<tr>
										<td>There are no estimates yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'estimate_new' pk=project.pk %}" class="button special small" title="Add estimate to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add estimate</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="{% url 'estimate_visualize' pk=project.pk %}" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>

				<br>
				<br>

			
			<!-- Table: Tasks -->
				<section>
					<h3>Tasks</h3>
					<p>Current tasks for this project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Task</th>
									<th>Phase/Workflow</th>
									<th>Type</th>
									<th>Complexity</th>
									<th>Percentage of completion</th>
									<th>Planned hours</th>
									<th>Real hours</th>
									<th>Planned cost</th>
									<th>Real cost</th>
									<th>Planned start date</th>
									<th>Planned end date</th>
									<th>Real start date</th>
									<th>Real end date</th>
									<th>Resources</th>
								</tr>
							</thead>
							<tbody>
								{% for task in project.tasks.all %}
									<tr>
										<td>{{ task.task }}</td>
										<td>{{ task.phase }}</td>
										<td>{{ task.type }}</td>
										<td>{{ task.task_complexity }}</td>
										<td>{{ task.percentage_of_completion }}%</td>
										<td>{{ task.planned_hours }}</td>
										<td>{{ task.real_hours }}</td>
										<td>${{ task.planned_cost }}</td>
										<td>${{ task.real_cost }}</td>
										<td>{{ task.planned_start_date }}</td>
										<td>{{ task.planned_end_date }}</td>
										<td>{{ task.real_start_date }}</td>
										<td>{{ task.real_end_date }}</td>
										<td>{{ task.resource }}</td>
									</tr>
								{% empty %}
									<tr>
										<td>There are no tasks yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'task_new' pk=project.pk %}" class="button special small" title="Add task to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add task</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="{% url 'task_visualize' pk=project.pk %}" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>

				<br>
				<br>


			<!-- Table: Effort -->
				<section>
					<h3>Effort</h3>
					<p>Current effort for each phase of the project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Phase</th>
									<th>Budgeted effort</th>
									<th>Planned effort</th>
									<th>Real effort</th>
									<th>Deviation of budgeted vs planned effort</th>
									<th>Deviation of planned vs real effort</th>
								</tr>
							</thead>
							<tbody>
								{% for effort in project.efforts.all %}
									<tr>
										<td>{{ effort.phase }}</td>
										<td>{{ effort.budgeted_effort }}</td>
										<td>{{ effort.planned_effort }}</td>
										<td>{{ effort.real_effort }}</td>
										{% if effort.deviation_budgeted_planned <= 0 %}
											<td><span class="verde">{{ effort.deviation_budgeted_planned }}%</span></td>
										{% elif effort.deviation_budgeted_planned < 10 %}
											<td><span class="amarillo">{{ effort.deviation_budgeted_planned }}%</span></td>
										{% else %}
											<td><span class="rojo">{{ effort.deviation_budgeted_planned }}%</span></td>
										{% endif %}
										{% if effort.deviation_planned_real <= 0 %}
											<td><span class="verde">{{ effort.deviation_planned_real }}%</span></td>
										{% elif effort.deviation_planned_real < 10 %}
											<td><span class="amarillo">{{ effort.deviation_planned_real }}%</span></td>
										{% else %}
											<td><span class="rojo">{{ effort.deviation_planned_real }}%</span></td>
										{% endif %}
									</tr>
								{% empty %}
									<tr>
										<td>There is no effort yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'effort_new' pk=project.pk %}" class="button special small" title="Add effort to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add effort</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="{% url 'effort_visualize' pk=project.pk %}" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>

				<br>
				<br>

				
			<!-- Table: Cost -->
				<section>
					<h3>Cost</h3>
					<p>Current cost for each phase of the project</p>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Phase</th>
									<th>Budgeted cost</th>
									<th>Planned cost</th>
									<th>Real cost</th>
									<th>Deviation of budgeted vs real cost</th>
									<th>Deviation of planned vs real cost</th>
								</tr>
							</thead>
							<tbody>
								{% for cost in project.costs.all %}
									<tr>
										<td>{{ cost.phase }}</td>
										<td>{{ cost.budgeted_cost }}</td>
										<td>{{ cost.planned_cost }}</td>
										<td>{{ cost.real_cost }}</td>
										{% if cost.deviation_budgeted_real <= 0 %}
											<td><span class="verde">{{ cost.deviation_budgeted_real }}%</span></td>
										{% elif cost.deviation_budgeted_real < 10 %}
											<td><span class="amarillo">{{ cost.deviation_budgeted_real }}%</span></td>
										{% else %}
											<td><span class="rojo">{{ cost.deviation_budgeted_real }}%</span></td>
										{% endif %}

										{% if cost.deviation_planned_real <= 0 %}
											<td><span class="verde">{{ cost.deviation_planned_real }}%</span></td>
										{% elif cost.deviation_planned_real < 10 %}
											<td><span class="amarillo">{{ cost.deviation_planned_real }}%</span></td>
										{% else %}
											<td><span class="rojo">{{ cost.deviation_planned_real }}%</span></td>
										{% endif %}
									</tr>
								{% empty %}
									<tr>
										<td>There is no cost yet</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="{% url 'cost_new' pk=project.pk %}" class="button special small" title="Add cost to current project"><i class="fa fa-plus" aria-hidden="true"></i> Add cost</a>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="{% url 'cost_visualize' pk=project.pk %}" class="button special">Visualize data</a></li>
							<li><a href="/projects" class="button">Back</a></li>
						</ul>
					</div>
				</section>
		</div>
	</section>
{% endblock %}