{% extends 'tool/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>Projects</h2>
				<p>Create a project and start capturing data</p>
			</header>

			<!-- Table: Projects -->
				<section>
					<h3>Projects</h3>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Title</th>
									<th>Description</th>
									<th>Company</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for project in projects %}
									<tr>
										<td>{{ project.title }}</td>
										<td>{{ project.description }}</td>
										<td>{{ project.company }}</td>
										<td>
											<div>
												<a href="{% url 'project_detail' pk=project.pk %}" class="button special small" title="Add software process information"><i class="fa fa-file-text" aria-hidden="true"></i></a>
											</div>
											<div style="margin-top: 5px;">
												<a href="{% url 'project_delete' pk=project.pk %}" class="button small" title="Delete project and data"><i class="fa fa-trash" aria-hidden="true"></i></a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

						{% if projects.has_other_pages %}
							<ul class="pagination">
								{% if projects.has_previous %}
									<li><a href="?page={{ projects.previous_page_number }}">&laquo;</a></li>
								{% else %}
									<li class="disabled"><span>&laquo;</span></li>
								{% endif %}
								{% for i in projects.paginator.page_range %}
									{% if projects.number == i %}
										<li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
									{% else %}
										<li><a href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endfor %}
								{% if projects.has_next %}
									<li><a href="?page={{ projects.next_page_number }}">&raquo;</a></li>
								{% else %}
									<li class="disabled"><span>&raquo;</span></li>
								{% endif %}
							</ul>
						{% endif %}

					</div>
					<div class="12u$">
						<ul class="actions pull-right">
							<li><a href="{% url 'project_new' %}" class="button special">Create project</a></li>
							<li><a href="/" class="button">Back</a></li>
						</ul>
					</div>
				</section>
		</div>
	</section>
{% endblock content %}