{% extends 'tool/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>Tasks</h2>
				<p align="justify">Visualize insights after data analysis of tasks for {{ project.title }} project</p>
			</header>

			<!-- Visual data -->
				<section>
					<div class="row 150%">
						<div class="6u 12u$(xsmall)">
							<div class="image fit captioned">
								<img src="{% static 'images/visualizations/tasks.png' %}">
								<h3>Data visualization for Task</h3>
							</div>
						</div>
						<div class="6u 12u$(xsmall)">
							<div class="image fit captioned">
								<p></p>
								<h3>Descriptive analytics for Tasks</h3>
							</div>
						</div>
					</div>
				</section>
		</div>
	</section>
{% endblock %}
